/* The flask flash alert message box */
.flashes {
    border-radius: .25rem;
    padding: 10px;
    background-color: #d9edf7;
    color: #31708f;
    margin-top: 5px;
    margin-right: 5px;
    position:absolute;
    top:0;
    right:0;
}